@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.headerglobal {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Ajouté pour espacer le contenu */
    background-color: white;
    padding: 0 50px;
    /* Pour ajouter un peu de padding sur les côtés */
}

.headerglobal img {
    height: 100px;
}

.clickables {
    flex: 1;
    /* Permet à ce conteneur de prendre tout l'espace disponible */
    display: flex;
    justify-content: center;
    /* Centre le contenu à l'intérieur de ce conteneur */
}

.headerglobal .buttons {
    display: flex;
    margin-left: auto;
    /* Assure que les boutons sont alignés à droite */
}



.firstbloc {
    display: flex;
    justify-content: center;
}

.leftbloc {
    margin-left: 20px;
    box-shadow: 0px 3px 9px lightgray;
    width: 450px;
    height: 650px;
    border-radius: 15px;
}

.rightbloc {
    margin-left: 25px;
    margin-right: 20px;
    width: 1000px;
    height: 450px;
    box-shadow: 0px 3px 9px lightgray;
    border-radius: 15px;
}

.map {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 3px 3px lightgray;
}

.pres {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 5px lightgray;
}

.leftbloc h1 {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    text-align: center;
}

.workxcompany {
    margin-top: -13px;
    font-size: 15px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: gray;
}

.bio {
    padding: 20px;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
}

.seemore {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    background: linear-gradient(to right, #44defa, #44abfc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.top {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}

.top h1 {
    margin-left: 20px;
    font-size: 25px;
    font-family: Montserrat, sans-serif;
}

.presrap p {
    margin-left: 20px;
}

.rightbloc .texte {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    margin-top: 30px;
}

.certficiations {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 20px;
}

.certficiations p {
    margin-left: 15px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
}