@font-face {
  font-family: circular_medium;
  src: url('CircularStd-Medium.otf');
}

@font-face {
  font-family: circular_bold;
  src: url('CircularSTD-Black.otf');
}

.logo:hover {
  cursor: pointer;
}

button {
  transition: 0.3s;
}

header img:hover {
  cursor: pointer;
}

.header-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Ajout de l'ombre portée */
  background-color: white;
  opacity: 0;
  /* Réglez l'opacité à 0 pour cacher le header */
  transition: opacity 0.3s ease;
  /* Ajout d'une transition d'opacité */
}

.header-scroll.visible {
  opacity: 1;
  /* Augmentez l'opacité pour afficher le header */
}

.header-scroll {
  color: #fff;
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header {
  color: #fff;
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
}

.menu-buttons {
  display: flex;
  gap: 10px;
}

.menu-button-1 {
  background-color: #f5f7f9;
  border-radius: 6px;
  padding: 10px 20px;
  border-color: transparent;
  color: #3eb3f9;
  cursor: pointer;
  font-family: circular_bold, sans-serif;
  font-size: 15px;
}

.menu-button-2 {
  background-color: #3eb3f9;
  border-radius: 6px;
  padding: 10px 20px;
  border-color: transparent;
  color: #f5f7f9;
  cursor: pointer;
  font-family: circular_bold, sans-serif;
  font-size: 15px;
}

/* Section 1 - BODY */

.personnage {
  float: right;
  margin-right: 5%;
}

.firstsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  margin-left: 5%;
}

.text-container {
  flex: 1;
  padding-right: 20px;
  /* Espacement entre le texte et l'image */
}

.text-container h1,
span {
  font-size: 64px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: circular_bold, sans-serif;

}

.text-container p {
  font-size: 16px;
  max-width: 700px;
  color: #888;
  /* Couleur gris */
  font-family: circular_medium, sans-serif;
  margin: 0;
}

/* Seconde section body */
.card-container {
  display: flex;
  justify-content: center;
  /* Centrer les cartes horizontalement */
  margin-top: 30px;
  /* Ajuster selon l'espace souhaité entre les cartes */
}

.card {
  font-family: circular_medium, sans-serif;
  flex: 1;
  max-width: 350px;
  /* Définir une largeur maximale pour les cartes */
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: black;
  text-decoration: none;
}

.image-container {
  width: 100px;
  /* Ajuster selon la taille souhaitée de l'image */
  height: 100px;
  /* Ajuster selon la taille souhaitée de l'image */
  border-radius: 15px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  flex: 1;
  padding-left: 20px;
  /* Espacement entre l'image et le texte */
}

.text-container h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.text-container p {
  margin: 0;
  font-size: 0.8em;
  color: #888;
  overflow-wrap: break-word;
}

.secondsection,
.thirdsection {
  margin-top: 100px;
}

.titles {
  text-align: center;
  max-width: 800px;
  /* Définir une largeur maximale pour le conteneur */
  margin: 0 auto;
  /* Centrer le conteneur horizontalement */

}

.square {

  margin-top: 30px;

}

.imgclients {
  margin-left: auto;
  display: flex;
  margin-right: auto;
}

.button-ios,
.button-android {
  background-color: #3eb3f9;
  /* couleur bleue typique d'iOS */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.button-ios {
  margin-right: 10px;
  /* espace entre les boutons */
}


.titles h1,
.titles p {
  font-family: circular_medium, sans-serif;
}

.titles p {
  color: grey;
}

.thirdsection {
  text-align: center;
}

.square {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: white;
  /* Fond blanc */
  display: inline-block;
  margin-right: 20px;
  /* Espace entre les carrés */
  border-radius: 15px;
  /* Bords arrondis */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Ombre plus diffuse */
  padding: 10px;
}

.icon {
  position: absolute;
  top: 10px;
  /* Déplacer l'icône plus haut */
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  /* Largeur agrandie de l'icône */
  height: 80px;
  /* Hauteur agrandie de l'icône */
  background-image: url('../images/personnes.svg');
  /* Remplacez 'chemin_vers_votre_icone.svg' par le chemin de votre icône */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.icon2 {
  position: absolute;
  top: 10px;
  /* Déplacer l'icône plus haut */
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  /* Largeur agrandie de l'icône */
  height: 80px;
  /* Hauteur agrandie de l'icône */
  background-image: url('../images/tools.svg');
  /* Remplacez 'chemin_vers_votre_icone.svg' par le chemin de votre icône */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.square h1 {
  margin-top: 80px;
  font-family: circular_medium, sans-serif;
  font-size: 1.5em;
}

.square p {
  margin-top: 10px;
  font-family: circular_medium, sans-serif;
  font-size: 0.8em;
  color: gray;
}

/* Quatrième section */

.fourthsection {
  margin-top: 100px;
  margin-left: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 85%;
}

.fourthsection button {
  margin-top: 15px;
}

.textedivforth h1 {
  font-family: circular_medium, sans-serif;
  font-size: 2.5em;
}

.textedivforth p {
  font-family: circular_medium, sans-serif;
  font-size: 0.9em;
  color: gray;
}

.site-footer {
  background-color: #fff;
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 150px;
}

.footer-links ul,
.social-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li,
.social-links ul li {
  margin-bottom: 10px;
}

.footer-links a,
.social-links a {
  color: #333;
  text-decoration: none;
}

.social-links a {
  font-size: 20px;
  margin-right: 10px;
}



.sithsecontion {
  margin-top: 100px;
  margin-left: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 85%;
}

.sithsecontion button {
  margin-top: 15px;
}

.textedivforth h1 {
  font-family: circular_medium, sans-serif;
  font-size: 2.5em;
}

.textedivforth p {
  font-family: circular_medium, sans-serif;
  font-size: 0.9em;
  color: gray;
}