ul {
  list-style: none;
  /* Supprime les puces */
  padding: 0;
  /* Supprime le padding par défaut */
}

ul li a {
  text-decoration: none;
  /* Supprime le soulignage des liens */
  color: black;
  /* Définit la couleur du texte en noir */
}

@font-face {
  font-family: circular_medium;
  src: url('../font/CircularSTD-Medium.otf');
}

@font-face {
  font-family: circular_bold;
  src: url('../font/CircularSTD-Black.otf');
}

p {
  margin: 0px;
  font-family: circular, sans-serif;
}

/* MEDIA QUERIES */
.anima-desktop-only {
  @media (max-width: 768px) {
    display: none !important;
  }
}

/* SCROLLBAR */

[dark-scroll]::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

[dark-scroll]::-webkit-scrollbar-track-piece {
  background-color: #2b2b2b;
  border: 1px solid #1d1d1d;
}

[dark-scroll]::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #4d4d4d;
}

[dark-scroll]::-webkit-scrollbar-thumb:hover {
  background-color: #5a5a5a;
}

/* LOAD PROGRESS */

.turbolinks-progress-bar {
  height: 3px;
  background-color: #ff6250;
}

/* GROUPING */

[data-id].ui-selecting {
  box-shadow: inset 0 0 0 1px #4285f4 !important;
}

[data-id].ui-selected {
  box-shadow: inset 0 0 0 1px #4285f4 !important;
}

/* CURSOR */

body[mode='comments'] * {
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00LjkxNjQ4IDIzLjQxMDlDNS40OTE1MyAyMi45ODg3IDUuOTMxNzkgMjIuMzkzNSA2LjIzMjggMjEuNjQwN0M0Ljc5MDY5IDE5LjczODMgNCAxNy4zOTMzIDQgMTQuOTk3NUM0IDguOTM0MSA4LjkzMjgyIDQgMTUuMDAyMiA0QzIxLjA3MTcgNCAyNiA4LjkzOTE5IDI2IDE1LjAwMjVDMjYgMjEuMDY1OSAyMS4wNjcyIDI2IDE0Ljk5NzggMjZDMTIuOTg5NiAyNiAxMS4wMzUzIDI1LjQ1NTcgOS4zMjM2NyAyNC40MjMxQzguNDI5NjUgMjQuOTU3MiA3LjQxNDM0IDI1LjIyNjggNi4zMDAxOCAyNS4yMjY4QzUuOTU0MjYgMjUuMjI2OCA1LjU5OTM1IDI1LjIwMTQgNS4yNTM0MiAyNS4xNDU0QzQuOTAzIDI1LjA4OTUgNC42Mjg5NiAyNC44MDQ2IDQuNTUyNTggMjQuNDE4QzQuNDc2MjEgMjQuMDI2NCA0LjYxOTk3IDIzLjYyOTYgNC45MTY0OCAyMy40MTA5WiIgZmlsbD0iI0ZGNjI1MCIvPgo8L3N2Zz4K') 0 24,
    auto !important;
}

body[mode='code'] [data-id]:not(.hidden) {
  cursor: default;
}

/* default node state */

body[mode='code'] [data-id]:not(.hidden),
body[mode='comments'] [data-id]:not(.hidden) {
  pointer-events: all;
}

/* is_image */

body[mode='code'] [data-id].is_image [data-id],
body[mode='comments'] [data-id].is_image [data-id] {
  pointer-events: none !important;
}

/* without a data-id or ignored */

[data-id].ignore,
body[mode='code'] *:not([data-id]) {
  pointer-events: none !important;
}

/* disable transforms for ignored elements */


body[mode='code'] [data-id]:hover {
  transform: none !important;
}

/* ANIMA BUTTONS */
.an-button {
  position: relative;
  height: 28px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
  transition-property: all;
  transition-duration: 100ms;
  appearance: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  border-width: 0;
}

.an-button>div {
  width: 100%;
}

.an-button.primary {
  background: #ff6250;
  color: #ffffff;
}

.an-button.primary:hover:not(:disabled) {
  background: #e2412e;
}

.an-button.secondary {
  background: transparent;
  border: 1px solid #ff6250;
  color: #ff6250;
}

.an-button.secondary:hover:not(:disabled) {
  color: #ffffff;
  background: #ff6250;
}

.an-button.rounded {
  border-radius: 100px;
}

.an-button:disabled {
  opacity: 0.5;
}

.an-button:disabled {
  cursor: default;
}

.an-button:active,
.an-button:focus {
  outline: none;
}

.hotspot {
  position: absolute;
  border: 1px solid #2a9fd8;
  background: rgba(0, 173, 255, 0.54);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:500,400,700,600");

/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/65d091b76874a4ca3e864b5e.65d091b76874a4ca3e864b61.yZx3DUN.hch.png");


.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.component-wrapper a {
  display: contents;
  pointer-events: auto;
  text-decoration: none;
}

.component-wrapper * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
  pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
  visibility: hidden !important;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.full-width-a {
  width: 100%;
}

.full-height-a {
  height: 100%;
}

.container-center-vertical {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  pointer-events: none;
}

.container-center-vertical>* {
  flex-shrink: 0;
  pointer-events: auto;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal>* {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.animate-nodelay {
  animation-delay: 0s;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --brandprimary: #3eb3f9;
  --brandsecondary: #263238;
  --default--white: #ffffff;
  --neutralblack: #263238;
  --neutraldgrey: #4d4d4d;
  --neutralgrey: #717171;
  --neutrallgrey: #88939e;
  --neutralsilver: #f5f7f9;
  --neutralwhite: #ffffff;
  --text--gray-300: #d9dbe1;
  --text--gray-900: #18191f;
  --tintt5: #edf8ff;

  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-xl: 20px;
  --font-size-xxl: 28px;
  --font-size-xxxl: 36px;
  --font-size-xxxxl: 64px;

  --font-family-inter: "Inter", Helvetica;
}

.headingheadline-1 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

.headingheadline-2 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

.headingheadline-3 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}

.headingheadline-4 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

.bodyregularbody-2 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.bodyregularbody-3 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.bodymediumbody-2 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
}

.bodymediumbody-3 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
}

:root {}


/* screen - landing-page */

.landing-page {
  background-color: var(--default--white);
  height: 4376px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.landing-page .home-0MUxxh {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  height: 1286px;
  left: 0px;
  position: absolute;
  top: 83px;
}

.landing-page .hero-section-AVfXY2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--default--white);
  display: flex;
  flex: 0 0 auto;
  gap: 104px;
  padding: 96px 144px;
  position: relative;
  width: 100%;
}

.landing-page .frame-1-hEKUTd {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
  position: relative;
}

.landing-page .text-lTLpwB {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.landing-page .facilitez-vos-travaux-OC4U6j {
  align-self: stretch;
  background-color: transparent;
  flex: 0 0 auto;
  position: relative;
  width: 100%;

  font-size: 60px;
  font-family: circular_bold, sans-serif;
}

.landing-page .aaaaaaaaaa-OC4U6j {
  align-self: stretch;
  background-color: transparent;
  color: var(--neutralgrey);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.landing-page .button-lTLpwB {
  background-color: var(--brandprimary);
  border-radius: 4px;
  gap: 10px;
  justify-content: center;
  padding: 14px 32px;
}

.landing-page .label-BAiyLT {
  color: var(--default--white);
  font-weight: 500;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .illustration-hEKUTd {
  background-color: transparent;
  height: 467px;
  margin-bottom: -38.00px;
  margin-top: -22.00px;
  position: relative;
  width: 391px;
}

.landing-page .clients-AVfXY2 {
  gap: 16px;
  padding: 0px 144px;
  width: 1440px;
}

.landing-page .clients-akNU3k {
  gap: 8px;
  width: 1110px;
}

.landing-page .section-title-fx3aFJ {
  align-self: stretch;
  flex: 0 0 auto;
  width: 100%;
}

.landing-page .description-fx3aFJ {
  align-self: stretch;
  color: var(--neutralgrey);
  text-align: center;
}

.landing-page .clients-logos-akNU3k {
  align-self: stretch;
  background-color: transparent;
  height: 98px;
  margin-right: -4.00px;
  position: relative;
  width: 100%;
}

.landing-page .community-AVfXY2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
}

.landing-page .community-lVM8O4 {
  align-items: center;
  display: flex;
  gap: 8px;
  width: 1440px;
}

.landing-page .section-title-1h0xPB {
  flex: 0 0 auto;
  width: 523.5181884765625px;
}

.landing-page .description-1h0xPB {
  align-self: stretch;
  color: var(--neutralgrey);
  text-align: center;
}

.landing-page .frame-4-lVM8O4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0px 144px;
  position: relative;
  width: 1440px;
}

.landing-page .membership-organizatios-pRVKiG {
  align-items: center;
  background-color: var(--default--white);
  border-radius: 8px;
  box-shadow: 0px 2px 4px #abbed133;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 32px;
  position: relative;
  width: 299px;
}

.landing-page .icon-IKZ7mN {
  background-color: transparent;
  height: 56px;
  position: relative;
  width: 65.00000762939453px;
}

.landing-page .icon-yYeHuu {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.landing-page .accdez-un-vaste-rseau-dartisans-locaux-IKZ7mN {
  align-self: stretch;
  background-color: transparent;
  color: var(--neutraldgrey);
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  position: relative;
  text-align: center;
}

.landing-page .frame-3-VJt7Y1 {
  margin-left: -8.00px;
  margin-right: -8.00px;
}

.landing-page .our-membership-manag-hZl0DP {
  width: 251px;
}

.landing-page .icon-APXYum {
  background-color: transparent;
  height: 56px;
  position: relative;
  width: 65.00000762939453px;
}

.landing-page .icon-3pWxa7 {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.landing-page .une-agence-prs-de-chez-vous-APXYum {
  align-self: stretch;
  background-color: transparent;
  color: var(--neutraldgrey);
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  position: relative;
  text-align: center;
}

.landing-page .frame-3-vZbT7w {
  margin-left: -2.50px;
  margin-right: -2.50px;
}

.landing-page .our-membership-manag-XqMQBi {
  width: 240px;
}

.landing-page .icon-ppjiiN {
  background-color: transparent;
  height: 56px;
  position: relative;
  width: 65.00000762939453px;
}

.landing-page .icon-3OwWDf {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.landing-page .une-lien-direct-avec-les-artisans-ppjiiN {
  background-color: transparent;
  color: var(--neutraldgrey);
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  position: relative;
  text-align: center;
  width: 231px;
}

.landing-page .frame-3-Va6OYH {
  margin-left: -8.00px;
  margin-right: -8.00px;
}

.landing-page .our-membership-manag-yxR2t6 {
  width: 251px;
}

.landing-page .body-0MUxxh {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  left: 1px;
  position: absolute;
  top: 1411px;
}

.landing-page .unlock-Z85P74::-webkit-scrollbar {
  display: none;
  width: 0;
}

.landing-page .unlock-Z85P74 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.landing-page .unlock-nuXLgd {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 144px;
  width: 1440px;
}

.landing-page .frame-35-98tWGb {
  background-color: transparent;
  height: 433px;
  position: relative;
  width: 442px;
}

.landing-page .vos-donnes-et-vos-fi-jikXn6 {
  align-self: stretch;
  background-color: transparent;
  color: var(--neutraldgrey);
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.landing-page .when-joining-the-jus-jikXn6 {
  align-self: stretch;
  background-color: transparent;
  color: var(--neutralgrey);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.landing-page .button-EHNx4H {
  background-color: var(--brandprimary);
  border-radius: 4px;
  gap: 10px;
  justify-content: center;
  padding: 14px 32px;
}

.landing-page .label-xcb9OH {
  color: var(--default--white);
  font-weight: 500;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .achievements-Z85P74 {
  align-items: center;
  background-color: var(--neutralsilver);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 64px 144px;
  position: relative;
  width: 1440px;
}

.landing-page .section-heading-GbOn8M {
  display: flex;
  width: 540px;
}

.landing-page .section-heading-6zReXN {
  display: inline-flex;
  flex: 0 0 auto;
}

.landing-page .section-title-0Pzx9a {
  flex: 0 0 auto;
  width: 356.5738525390625px;
}

.landing-page .description-6zReXN {
  align-self: stretch;
  color: var(--text--gray-900);
  text-align: left;
}

.landing-page .counts-GbOn8M {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  position: relative;
}

.landing-page .row-1-dJNItk {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  overflow: hidden;
  position: relative;
}

.landing-page .x2-dxERhH {
  gap: 16px;
}

.landing-page .icon-fZbIWb {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.landing-page .label-Xbg8jd {
  color: var(--neutralgrey);
  font-weight: 400;
  text-align: left;
  width: 191px;
}

.landing-page .x1-dxERhH {
  gap: 16px;
}

.landing-page .icon-EpJT3M {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.landing-page .label-3xad0e {
  color: var(--neutralgrey);
  font-weight: 400;
  text-align: left;
  width: 191px;
}

.landing-page .row-2-dJNItk {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  overflow: hidden;
  position: relative;
}

.landing-page .x3-xxL5KI {
  gap: 16px;
}

.landing-page .icon-b7whjn {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.landing-page .label-4eWY3u {
  color: var(--neutralgrey);
  font-weight: 400;
  text-align: left;
  width: 191px;
}

.landing-page .x4-xxL5KI {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.landing-page .icon-Fn3TTJ {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.landing-page .label-hMeUNu {
  color: var(--neutralgrey);
  font-weight: 400;
  text-align: left;
  width: 191px;
}

.landing-page .community-updates-Z85P74 {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.landing-page .community-2Fv7ca {
  align-items: center;
  display: flex;
  gap: 8px;
  width: 1110px;
}

.landing-page .section-title-5ihyFK {
  align-self: stretch;
  color: var(--neutraldgrey);
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin-top: -1.00px;
  text-align: center;
}

.landing-page .description-5ihyFK {
  color: var(--neutralgrey);
  text-align: center;
  width: 628px;
}

.landing-page .frame-15-2Fv7ca {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0px 144px;
  position: relative;
  width: 1440px;
}

.landing-page .x1-LAGQ2A {
  flex-direction: column;
}

.landing-page .image-18-0oYVYZ {
  background-color: transparent;
  height: 286px;
  object-fit: cover;
  position: relative;
  width: 368px;
}

.landing-page .content-0oYVYZ {
  align-items: center;
  background-color: var(--neutralsilver);
  border-radius: 8px;
  box-shadow: 0px 8px 16px #abbed166;
  display: inline-flex;
  margin-top: -96px;
  padding: 16px;
}

.landing-page .frame-13-VbGnU1 {
  align-self: stretch;
  flex: 0 0 auto;
  justify-content: center;
  width: 100%;
}

.landing-page .lire-TFxrgP {
  background-color: transparent;
  color: var(--brandprimary);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .x24-arrows-directions-right-TFxrgP {
  height: 24.000002098146638px;
  width: 24.000002098146638px;
}

.landing-page .x2-LAGQ2A {
  flex-direction: column;
}

.landing-page .image-19-Sq4xcE {
  background-color: transparent;
  height: 286px;
  position: relative;
  width: 368px;
}

.landing-page .content-Sq4xcE {
  align-items: center;
  background-color: var(--neutralsilver);
  border-radius: 8px;
  box-shadow: 0px 8px 16px #abbed166;
  display: inline-flex;
  margin-top: -96px;
  padding: 16px;
}

.landing-page .frame-13-Dx2UsC {
  align-self: stretch;
  flex: 0 0 auto;
  justify-content: center;
  width: 100%;
}

.landing-page .x24-arrows-directions-right-aygyCx {
  height: 24.000002098146638px;
  width: 24.000002098146524px;
}

.landing-page .x3-LAGQ2A {
  flex-direction: column;
}

.landing-page .image-20-4AXuxB {
  background-color: transparent;
  height: 286px;
  object-fit: cover;
  position: relative;
  width: 368px;
}

.landing-page .content-4AXuxB {
  align-items: center;
  background-color: var(--neutralsilver);
  border-radius: 8px;
  box-shadow: 0px 8px 16px #abbed166;
  display: inline-flex;
  margin-top: -96px;
  padding: 16px;
}

.landing-page .frame-13-pg00gS {
  align-self: stretch;
  flex: 0 0 auto;
  justify-content: center;
  width: 100%;
}

.landing-page .x24-arrows-directions-right-xCubut {
  height: 24.000002098146638px;
  width: 24.000002098146524px;
}

.landing-page .calender-Z85P74::-webkit-scrollbar {
  display: none;
  width: 0;
}

.landing-page .calender-Z85P74 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  overflow-x: scroll;
  position: relative;
}

.landing-page .unlock-u8fE6T {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 144px;
  width: 1440px;
}

.landing-page .mobile-loginpana-mkVAso {
  background-color: transparent;
  height: 433.3990173339844px;
  position: relative;
  width: 441.5328674316406px;
}

.landing-page .how-to-design-your-s-4Gut2A {
  align-self: stretch;
  background-color: transparent;
  color: var(--neutraldgrey);
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.landing-page .one-event-calendar-s-4Gut2A {
  align-self: stretch;
  background-color: transparent;
  color: var(--neutralgrey);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.landing-page .button-JQmcw6 {
  background-color: var(--brandprimary);
  border-radius: 4px;
  gap: 10px;
  justify-content: center;
  padding: 14px 32px;
}

.landing-page .label-HAfFNe {
  color: var(--default--white);
  font-weight: 500;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .customers-Z85P74 {
  align-items: center;
  background-color: var(--neutralsilver);
  display: flex;
  flex: 0 0 auto;
  gap: 78px;
  padding: 32px 144px;
  position: relative;
  width: 1440px;
}

.landing-page .image-9-7YS2qW {
  background-color: transparent;
  height: 358px;
  margin-bottom: -24.00px;
  margin-left: -16.00px;
  margin-top: -8.00px;
  object-fit: cover;
  position: relative;
  width: 358px;
}

.landing-page .frame-11-7YS2qW {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
  position: relative;
}

.landing-page .content-PxY34R {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  width: 100%;
}

.landing-page .we-have-enjoyed-work-MKxNeb {
  align-self: stretch;
  background-color: transparent;
  color: var(--neutralgrey);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.landing-page .frame-7-MKxNeb {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.landing-page .tim-smith-bFhUj2 {
  align-self: stretch;
  background-color: transparent;
  color: var(--brandprimary);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.landing-page .british-dragon-boat-racing-association-bFhUj2 {
  align-self: stretch;
  background-color: transparent;
  color: var(--neutrallgrey);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.landing-page .frame-14-PxY34R {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
  width: 100%;
}

.landing-page .frame-10-0WjcJt {
  background-color: transparent;
  flex: 0 0 auto;
  position: relative;
}

.landing-page .frame-13-0WjcJt {
  flex: 1;
  flex-grow: 1;
}

.landing-page .meet-all-customers-Lf0lPy {
  background-color: transparent;
  color: var(--brandprimary);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 188px;
}

.landing-page .x24-arrows-directions-right-Lf0lPy {
  height: 24.000002098146524px;
  margin-right: -13.00px;
  width: 24.000002098146524px;
}

.landing-page .footer-0MUxxh {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  left: 0px;
  position: absolute;
  top: 3748px;
}

.landing-page .frame-16-BGblZA {
  align-items: center;
  background-color: var(--neutralsilver);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0px;
  position: relative;
  width: 1440px;
}

.landing-page .let-nextcent-do-the-CPXkRd {
  background-color: transparent;
  color: var(--brandsecondary);
  font-style: normal;
  font-weight: 600;
  line-height: 76px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 887px;
}

.landing-page .button-CPXkRd {
  background-color: var(--brandprimary);
  border-radius: 4px;
  gap: 8px;
  justify-content: center;
  padding: 14px 32px;
}

.landing-page .label-FSMziP {
  color: var(--default--white);
  font-weight: 500;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .x16-arrows-directions-right-FSMziP {
  background-color: transparent;
  height: 16.000001398764425px;
  position: relative;
  width: 16.000001398764425px;
}

.landing-page .footer-big-4-BGblZA {
  align-items: flex-start;
  background-color: var(--brandsecondary);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 125px;
  padding: 64px 165px;
  position: relative;
}

.landing-page .company-info-5Uxpqx {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  position: relative;
}

.landing-page .logo-X3mhTY {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 9.890581130981445px;
  position: relative;
}

.landing-page .icon-ZX9xxg {
  background-color: transparent;
  height: 29.671875px;
  position: relative;
  width: 43.2713623046875px;
}

.landing-page .nexcent-ZX9xxg {
  background-color: transparent;
  height: 25.5447998046875px;
  position: relative;
  width: 137.838134765625px;
}

.landing-page .copyright-X3mhTY {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  position: relative;
}

.landing-page .copyright-2020-landify-ui-kit-1eyujT {
  background-color: transparent;
  color: var(--neutralsilver);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 350px;
}

.landing-page .all-rights-reserved-1eyujT {
  background-color: transparent;
  color: var(--neutralsilver);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: left;
  width: 350px;
}

.landing-page .social-links-X3mhTY {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  overflow: hidden;
  position: relative;
}

.landing-page .links-5Uxpqx {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  overflow: hidden;
  position: relative;
}

.landing-page .col-1-J6iE7W {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  position: relative;
}

.landing-page .company-6K6l5I {
  background-color: transparent;
  color: var(--default--white);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .about-us-D9cxwU {
  background-color: transparent;
  color: var(--neutralsilver);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .blog-D9cxwU {
  background-color: transparent;
  color: var(--neutralsilver);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .contact-us-D9cxwU {
  background-color: transparent;
  color: var(--neutralsilver);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .pricing-D9cxwU {
  background-color: transparent;
  color: var(--neutralsilver);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .testimonials-D9cxwU {
  background-color: transparent;
  color: var(--neutralsilver);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .col-2-J6iE7W {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  position: relative;
}

.landing-page .support-kjn069 {
  background-color: transparent;
  color: var(--default--white);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .help-center-fFElDn {
  background-color: transparent;
  color: var(--neutralsilver);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .terms-of-service-fFElDn {
  background-color: transparent;
  color: var(--neutralsilver);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .legal-fFElDn {
  background-color: transparent;
  color: var(--neutralsilver);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .privacy-policy-fFElDn {
  background-color: transparent;
  color: var(--neutralsilver);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .status-fFElDn {
  background-color: transparent;
  color: var(--neutralsilver);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .col-3-J6iE7W {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  position: relative;
}

.landing-page .stay-up-to-date-8m0BAo {
  background-color: transparent;
  color: var(--default--white);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 160px;
}

.landing-page .email-input-field-8m0BAo {
  background-color: transparent;
  height: 40px;
  margin-right: -2.00px;
  position: relative;
  width: 257px;
}

.landing-page .input-field-bg-BxzfIt {
  background-color: var(--default--white);
  border-radius: 8px;
  height: 40px;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 255px;
}

.landing-page .essential-icons-send-BxzfIt {
  background-color: transparent;
  height: 18px;
  left: 225px;
  position: absolute;
  top: 11px;
  width: 18px;
}

.landing-page .your-email-address-BxzfIt {
  background-color: transparent;
  color: var(--text--gray-300);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 12px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: auto;
}

.landing-page .frame-36-0MUxxh {
  background-color: var(--default--white);
  height: 84px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 21px;
  width: 1440px;
}

.landing-page .group-2228-yHqJZu {
  background-color: transparent;
  height: 24px;
  left: 421px;
  position: absolute;
  top: 35px;
  width: 598px;
}

.landing-page .heading-name-xUjpND {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 50px;
  justify-content: center;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 598px;
}

.landing-page .header-menu-default-V7F8Mg {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.landing-page .label-DwnY14 {
  color: var(--text--gray-900);
  font-weight: 500;
  margin-top: -1.00px;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
  font-family: circular_medium, sans-serif;
  margin-right: 40px;
}

.landing-page .label-oAGWYK {
  color: var(--text--gray-900);
  font-weight: 400;
  margin-top: -1.00px;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .label-OdMUWR {
  color: var(--text--gray-900);
  font-weight: 400;
  margin-top: -1.00px;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .label-XjrgJZ {
  color: var(--text--gray-900);
  font-weight: 400;
  margin-top: -1.00px;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .login-yHqJZu {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  gap: 14px;
  left: 1110px;
  overflow: hidden;
  position: absolute;
  top: 22px;
}

.landing-page .button-kFZaxx {
  background-color: var(--neutralsilver);
  border-radius: 6px;
  gap: 10px;
  padding: 10px 20px;
}

.landing-page .login-xyULoq {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(68.00000354647636, 222.00000196695328, 250.00000029802322) 0%, rgb(68.00000354647636, 171.00000500679016, 252.00000017881393) 100%);
  background-clip: text;
  background-color: transparent;
  color: transparent;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  text-fill-color: transparent;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .button-gbS69x {
  background-color: var(--brandprimary);
  border-radius: 6px;
  gap: 10px;
  padding: 10px 20px;
}

.landing-page .sign-up-Yq1fVJ {
  background-color: transparent;
  color: var(--default--white);
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .unnamed-1-0MUxxh {
  background-color: transparent;
  height: 70px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 70px;
}

.landing-page .button {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.landing-page .clients {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.landing-page .community {
  background-color: transparent;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.landing-page .content {
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.landing-page .creating-streamlined {
  background-color: transparent;
  color: var(--neutralgrey);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 285px;
}

.landing-page .description {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.landing-page .details {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.landing-page .frame-13 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  padding: 8px;
  position: relative;
}

.landing-page .frame-3 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.landing-page .frame-5 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 601px;
}

.landing-page .frame-6 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 661px;
}

.landing-page .label {
  background-color: transparent;
  font-style: normal;
  line-height: 24px;
  position: relative;
}

.landing-page .list-items {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  position: relative;
}

.landing-page .member {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  margin-left: -16.00px;
  margin-right: -16.00px;
  position: relative;
  width: 267px;
}

.landing-page .menu-item-default {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.landing-page .national-associations {
  align-items: center;
  background-color: var(--default--white);
  border-radius: 8px;
  box-shadow: 0px 2px 4px #abbed133;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 32px;
  position: relative;
  width: 299px;
}

.landing-page .number {
  background-color: transparent;
  color: var(--neutraldgrey);
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 191px;
}

.landing-page .our-membership-manag {
  background-color: transparent;
  color: var(--neutralgrey);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.landing-page .readmore {
  background-color: transparent;
  color: var(--brandprimary);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .rectangle-157 {
  background-color: var(--tintt5);
  border-radius: 18px 5px 10px 5px;
  height: 49px;
  left: 15px;
  position: absolute;
  top: 7px;
  transform: rotate(-180.00deg);
  width: 50px;
}

.landing-page .section-heading {
  align-items: flex-start;
  background-color: transparent;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  position: relative;
}

.landing-page .section-title {
  background-color: transparent;
  position: relative;
}

.landing-page .social-icons {
  background-color: transparent;
  height: 31.999984741210938px;
  position: relative;
  width: 32px;
}

.landing-page .unlock {
  background-color: transparent;
  position: relative;
}

.landing-page .x1 {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.landing-page .x2 {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.landing-page .x24-arrows-directions-right {
  background-color: transparent;
  position: relative;
}

.landing-page .x3 {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

#anima-interface {
  transition: all 0.5s ease-in-out;
}

#anima-watermark {
  transition: all 0.5s ease-in-out;
  display: none;
}

#anima-watermark-link {
  position: fixed;
  bottom: 20px;
  height: 30px;
  border-radius: 1000px;
  background: #3B3B3B;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: width 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  text-decoration: none;
  color: #fff;
  padding: 8px 16px 8px 11px;
  font-family: Mulish, sans-serif;
  font-size: 12px;
}

#anima-watermark-link .text {
  margin-left: 6px;
}

.omniview-anima-action-links .link {
  height: 30px;
  width: 30px;
  border-radius: 1000px;
  background: #3B3B3B;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: width 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  text-decoration: none;
  color: #fff;
}

.omniview-anima-action-links #comment-link .text,
.omniview-anima-action-links #code-link .text {
  display: none;
  font-size: 12px;
  margin-right: 5px;
}

.omniview-anima-action-links #comment-link:hover,
.omniview-anima-action-links #code-link:hover {
  width: 105px;
}

.omniview-anima-action-links #comment-link.pop-active,
.omniview-anima-action-links #code-link.pop-active {
  width: 105px;
  background: #FF6250;
}

.omniview-anima-action-links #comment-link.pop-active .text,
.omniview-anima-action-links #code-link.pop-active .text {
  display: block
}

.omniview-anima-action-links #comment-link:hover .text,
.omniview-anima-action-links #code-link:hover .text {
  display: block;
}

.link.navigation {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 32px;
  color: #fff;
  font-size: 12px;
  cursor: default;
  padding: 0 5px;
}

.link.navigation .icon {
  margin: 0 6px;
  fill: none;
  stroke: currentColor;
  cursor: pointer;
}

.link.navigation .icon.disabled {
  opacity: 0.5;
  cursor: default;
}


.link.navigation .home-icon {
  margin-left: 6px;
  fill: currentColor;
  stroke: currentColor;
  cursor: pointer;
}

.omniview-anima-action-links .restart {
  height: 30px;
  padding: 0 12px;
  background: #3B3B3B;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #f1f1f1;
  font-size: 12px;
}

.omniview-anima-action-links {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: Mulish, sans-serif;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.omniview-anima-action-links>*+* {
  margin-right: 0;
  margin-left: 10px;
}

.idle {
  opacity: 0;
  pointer-events: none;
}

#popoverOpener {
  position: absolute;
  left: 50%;
  margin-left: -10vw;
  text-align: center;
  top: 45vh;
  width: 20vw;
}


.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  font-family: "sans-serif";
  font-size: 14px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popover.top {
  margin-top: -12px
}

.popover.right {
  margin-left: 10px
}

.popover.bottom {
  margin-top: 10px
}

.popover.left {
  margin-left: -10px
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0
}

.popover-content {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  font-family: Mulish, sans-serif;
}



.popover>.arrow,
.popover>.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid
}

.popover>.arrow {
  border-width: 11px
}

.popover>.arrow:after {
  content: "";
  border-width: 10px
}

.popover.top>.arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0
}

.popover.top>.arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0
}

.popover.right>.arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0
}

.popover.right>.arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0
}

.popover.bottom>.arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25)
}

.popover.bottom>.arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff
}

.popover.left>.arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25)
}

.popover.left>.arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff
}



#anima-comment-popover,
#anima-code-popover {
  background: #333333;
  color: #fff;
}

#anima-comment-popover.top>.arrow,
#anima-comment-popover.top>.arrow:after,
#anima-code-popover.top>.arrow:after,
#anima-code-popover.top>.arrow {
  border-top-color: #333;
}

#anima-comment-popover .btn,
#anima-code-popover .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 20px;
  background: #FF6250;
  color: #fff;
  border-radius: 100px;
  width: max-content;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  #anima-watermark-link {
    padding: 6px !important;
  }

  #anima-watermark-link .text {
    display: none !important;
  }
}